@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

@import url(vars.css);
@import url(reset.css);

* {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-white-dark);
}

ul {
  list-style-type: none;
}

button, input, select {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: var(--color-black-dark);
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

.block {
  background-color: var(--color-white-light);
  border-radius: calc(var(--base-gap) / 2);
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.03);
}